body {
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/strange-hand-drawn-monster-with-flowers-popmarleo.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90vh;
}

main {
    position: absolute;
    width: auto;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -133px;
    margin-top: -250px;
    text-align: center;
}

/*
==========================
About content
==========================
*/

.about {
    background-color: rgb(246, 212, 217);
    opacity: 0.95;
    padding: 20px;
    border: solid;
}

header {
    padding-bottom: 20px;
}

header p {
    font-size: 17px;
}

h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
} 

p {
    font-family: 'Dosis', sans-serif;
}

/*
==========================
LISTS!
==========================
*/

ul {
    list-style: none;
    padding: 5px;
}

ul li {
    display: inline;
    font-size: 25px;
}

ol {
    list-style-position: inside;
    padding: 5px;
}

ol li {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.interests {
    padding-bottom: 15px;
}

.skills{
    padding-bottom: 5px;
}

/*
==========================
Horizontal rule
==========================
*/

hr {
    width: 200px;
    height: 55px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("images/snake.png");
}

/*
==========================
Contact
==========================
*/

footer {
    padding-top: 10px;
}

/*
==========================
Copyright
==========================
*/

.copyright {
    position: absolute; 
    bottom: 0;
    padding: 2px;
}

/*
Consider making the link color darker...???
*/

a {
    text-decoration: none;
    color: rgb(119, 93, 93);
}

a:hover {
    color: red;
    font-weight: bolder;
}

a:active {
    color: rgb(255, 50, 255);
}

/*
==========================
Popup content
==========================
*/

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

#popup {
    opacity: 0;
    position: absolute;
    z-index: 100;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    text-align: center;
    border: solid;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px 10px 3px;
}

#popup p {
    padding-bottom: 10px;
}

#popup button {
    margin: 10px;
}

a:hover {
    cursor: url('images/hot-dog.png'), default;	
}
