body {
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/strange-hand-drawn-monster-with-flowers-popmarleo.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

main {
    position: flex;
    flex-direction: row;
    width: 300px;
    text-align: center;
    margin: 50px auto;
}

/*
==========================
About content
==========================
*/

.about {
    background-color: rgb(246, 212, 217);
    opacity: 0.95;
    border: solid;
    padding: 10px;
}

header p {
  font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
} 

h1 {
  font-size: 30px;
  padding: 20px;
}

h2 {
  font-size: 20px;
  padding: 5px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

p {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 5px;
}

/*
==========================
LISTS!
==========================
*/

h2 {
  margin-top: 10px;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    display: inline;
    font-size: 25px;
}

ol {
    list-style-position: inside;
    padding: 10px;
}

ol li {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

/*
==========================
Horizontal rule
==========================
*/

hr {
    width: 200px;
    height: 55px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url("images/snake.png");
}

/*
==========================
Copyright
==========================
*/

.copyright {
    position: fixed;
    bottom: -12px;
    left: -10px;
    padding: 0;

}

/*
Consider making the link color darker...???
*/

a {
    text-decoration: none;
    color: rgb(119, 93, 93);
}

a:hover {
    color: red;
    font-weight: bolder;
}

a:active {
    color: rgb(255, 50, 255);
}

/*
==========================
Popup content
==========================
*/

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn:hover {
    cursor: url('images/light.png'), default;
}

#popup {
    display: none;
    position: absolute;
    z-index: 100;
    width: 320px;
    padding: 10px;
    margin: auto;
    margin-left: -22.5px;
    margin-top: 60px;
    text-align: center;
    border: solid;
    background-color: white;
    box-shadow: 5px 10px 10px 3px;
    font-family: 'Dosis', sans-serif;
}

#popup p {
    padding-bottom: 10px;
}

#popup button {
    margin: 10px;
}

a:hover {
    cursor: url('images/hot-dog.png'), default;	
}

footer {
  margin: 15px;
}

.hide {
  cursor: url('images/bomb.png'), default;
}